.root
{
    -fx-background-image: url('background2.png');
    -fx-background-repeat: stretch;   
   	-fx-background-size: 1920 1000;
    -fx-background-position: center center;
}

.check-box .box {

-fx-background-color: white;
-fx-border-color:black;
-fx-border-radius:3px; 
}

.check-box:selected .mark {

-fx-background-color: white;
}

.check-box:selected .box {

-fx-background-color: #085a91;
}